[submodule "narval_stonefish"]
	path = narval_stonefish
	url = https://github.com/PFlak/narval_stonefish.git
	branch = main
[submodule "narval_PID"]
	path = narval_pid
	url = https://github.com/PFlak/narval_PID.git
	branch = main
[submodule "narval_msgs"]
	path = narval_msgs
	url = https://github.com/PFlak/narval_msgs.git
	branch = main
